* {
  margin: 0;
}
.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.side-bar {
  /* flex-grow: 1; */
}
.main {
  /* flex-grow: 0.5; */
}
.right-bar {
  background-color: lightblue;
  margin-left: -71px;
  max-width: 200px;
  overflow: hidden;
}
